[submodule "28BonjourAndWebServersObjectiveCMRC"]
	path = 28BonjourAndWebServersObjectiveCMRC
	url = git@github.com:c4arl0s/28BonjourAndWebServersObjectiveCMRC.git
[submodule "29PushNotificationsAndNetworkingObjectiveCMRC"]
	path = 29PushNotificationsAndNetworkingObjectiveCMRC
	url = git@github.com:c4arl0s/29PushNotificationsAndNetworkingObjectiveCMRC.git
